### Saylani Mass IT 
### Name   : Muhammad Meesam
### Course : AI and DS
### Days   : Monday and Friday
### ID     : AI - 333227

# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
print("string",67,67.9,True)

string 67 67.9 True

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [3]:
print("string",67,67.9,True,sep='-')

string-67-67.9-True

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [15]:
print("string",end=' ')
print(67,end=' ')
print(67.9,end=' ')
print(True)

string 67 67.9 True

4) Can a python print function take no value to print???

True

# TOPIC :Variables in Python Operators

5) `One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [54]:
name="Ahmed"
age=30
profession="Lawyer"
graduate="bachelors in law " 
graduation_year=2005
working_place='The Himalya Associates' 
city= 'Karachi'
working_since=2015
beauty="Handsome"
height=5.10
weight="70600g"
monthly_income="200kPKR"
print(f"One of my friends name is {name} He is {age} years old He is a {profession} by profession He has done his {graduate} in the year {graduation_year} He is working with a reputable law firm {working_place} in {city} since {2015} He is a {beauty} lawer with height of {height} feets and weight {weight} His monthly income is {monthly_income}")

One of my friends name is Ahmed He is 30 years old He is a Lawyer by profession He has done his bachelors in law  in the year 2005 He is working with a reputable law firm The Himalya Associates in Karachi since 2015 He is a Handsome lawer with height of 5.1 feets and weight 70600g His monthly income is 200kPKR

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [50]:
graduation_year=2005
current=2024
print(f"{current-graduation_year} years done of Mr Ahmed bachelors degree")

19 years done of Mr Ahmed bachelors degree

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [38]:
working_since=2015
current=2024
print(f"{current-working_since} years done of Mr Ahmeds working with law firm 'The Himalya Associates'")

9 years done of Mr Ahmeds working with law firm 'The Himalya Associates'

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [46]:
monthly_income=200000
current=278.35
print(f"Mr Ahmed income in dollars is {round(monthly_income/dollar,2)} $")

Mr Ahmed income in dollars is 718.52 $

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [30]:
monthly_income=200000
dollar=278.35
income=monthly_income / dollar
if type(income)==float:
    d=int(income)
    print(f"Mr Ahmed income in dollars is {d} $ as integer value")

Mr Ahmed income in dollars is 718 $ as integer value

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [28]:
weight = 70600
kg=weight//1000
print(f"weight of mr ahmed is {kg} kg")

weight of mr ahmed is 70 kg

In [24]:
age=30
current=2024
print(f"birth year is {current-age}")

birth year is 1994

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [22]:
10%2
amount=100
students=6
if amount%students==0:
    print('equally divisible')
else:
     print('equally not divisible')
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2

equally not divisible